
/**/
body{
    padding: 0;
    margin: 0;
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
}

ul,li,figure,div,h1,h2,h3,section{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/**/
.headline{
    color: #eefff1;
    font-size: 2em;
    text-shadow: 0px 2px 0px #eefff1;
    -webkit-text-stroke: 1px #212121c0;
    text-shadow: 0px 4px 0px #7ac98d;
    margin: 1em auto;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.main-section{
    display: grid;
    grid-template-columns: 30% 70%;
}

.task-creator{
    display: flex;
    padding: 1em .5em;
    justify-content: center;
    max-height: 100%;
    height: 100vh;
    border-right: 2px solid #7ac98c86;
    border-top: 2px solid #7ac98c86;
}

.task-creator .fields{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin: 0;
    padding: 0 .5em;
}

.control{
    display: flex;
    flex-direction: column;

}
.control button{
    background: #c3e88d;
    padding: 1em;
    margin: .5em;
    width: 55px;
    max-height: 45px;
    border: 1px solid #c3e88d;
    -webkit-text-stroke: 1px #212121c0;
    box-shadow: 0px 4px 0px 0px #7ac98d;
    border-radius: 4px;
    font-weight: 900;
    color: #eefff1;
    transition: 0.2s;
}

.control button i{
    font-size: 24px;
    transition: 0.2s;
}

.control button:hover{
    box-shadow: 0px 1px 0px 0px #7ac98d;
}

.control button:hover i{
    text-shadow: 0px 2px 1px rgba(0,0,0,0.25);
}
.task-creator input{
    padding: 1em;
    max-height: 45px;
    margin: .5em 0;
    max-width: 100%;
    text-transform: uppercase;
    width: 100;
    border-radius: 4px;
    background-color: #eefff1;
    border: 1px solid #eefff1;
    box-shadow: 0px 4px 0px 0px #7ac98d;
    color: #303030;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 1em;
    margin: 0 1em;
}

.task{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid #89ddf1;
    box-shadow: 0px 4px 1px 1px #49baff;
    border-radius: 4px;
    background: #303030;
    transition: .25s;
    opacity: 0;
}



.task-title{
    color:#c792ea;
    text-transform: uppercase;
    margin: auto 0;

}


li{
    color: #eefff1;
    font-size: .75em;
    list-style: square inside;
    margin: .75em 0;
    margin-left: 1em;
}

.task-control{
    display: flex;
    justify-content: space-between;
    margin: 0;
}



.task-control #task-control_delete{
    background: #f0563d;
    padding: 1em;
    margin: auto .5em;
    border: 1px solid #f0563d;
    box-shadow: 0px 4px 0px 0px #a05678;
    border-radius: 4px;
    font-weight: 800;
    color: #eefff1;
    transition: 0.2s;
}
.task-control #task-control_delete i{
    font-size: 20px;
    transition: 0.2s;
}

.task-control #task-control_delete:hover{
    box-shadow: 0px 1px 0px 0px #a05678;
}
.task-control #task-control_delete:hover i{
    text-shadow: 0px 2px 1px rgba(0,0,0,0.25);
}


@media(max-width:1024px){
    .main-section{
        grid-template-columns: auto;
    }

    .task-creator{
        max-height: 100%;
        height: unset;
        border:none;
        padding: .5em;
        margin: 1em 0;
    }
}
